<!DOCTYPE html>
<html lang="en" ng-app="redditClone">
<head>
  <meta charset="UTF-8">
  <title>Reddit Clone</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div ng-controller="NewPostController">
  <button ng-click="toggleForm()" class="col-xs-6 col-xs-offset-3" class="btn btn-info">Add Post</button><br><br>
  <form action="javascript:void(0)" name="newPost" ng-submit="addPost(posts.newPost)" ng-show="posts.new" nonvalidate class="col-xs-10 col-xs-offset-1">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" ng-required="true" ng-model="posts.newPost.title" id="title" name="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" ng-required="true" ng-model="posts.newPost.author" id="author" name="author" class="form-control">
    </div>
    <div class="form-group">
      <label for="imageUrl">Image Url</label>
      <input type="text" ng-required="true" ng-model="posts.newPost.imageUrl" id="imageUrl" name="imageUrl" class="form-control">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" ng-required="true" ng-model="posts.newPost.description" id="description" name="description" class="form-control">
    </div>
    <div>
      <button type="submit" ng-click="toggleOff()" class="btn btn-success">Create Post</button>
    </div>
  </form>
  <div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <select name="Order" ng-model="orderVal" class="pull-left">
          <option value="author">Author</option>
          <option value="title">Title</option>
          <option value="date">Date</option>
        </select>
        <div class="pull-right">
          <label for="search">Search:</label>
          <input type="text" ng-model="search" id="search">
        </div>
      </div>
    </div>
    <div ng-repeat="data in posts.data | orderBy: orderVal | filter: search" class="container well">
      <div class="row">
        <div class="col-xs-4">
          <div>
            <img class="pull-left postImage" ng-src="{{data.imageUrl}}" alt="Image Post">
            <!-- <span class="pull-left">Image:</span>{{data.imageUrl}} -->
            <!-- {{data}}
            {{posts.data}} -->
          </div>
          <div>
            <button ng-click="showAllComments(data)" class="btn btn-info">View Comment</button><br>
            <button ng-click="commentForm(data)" class="btn btn-success">New Comment</button>
          </div>
        </div>

        <div class="col-xs-6">
          <p><span>Title:</span>{{data.title}}
            <span ng-click="upvotes(data)" class="votePadding glyphicon glyphicon-chevron-up"></span>
            <span ng-click="downvotes(data)" class="votePadding glyphicon glyphicon-chevron-down"></span>
            <!-- <span>ADD INTEGER USED IN THE CONTROLLER</span> -->
            <span class="votesWrapper" ng-class="{upvote : data.votes > 0 , downvote : data.votes < 0}">{{data.votes}}</span><br>
          </p>
          <p><span>Author:</span>{{data.author}}</p>
          <p><span>Description:</span>{{data.description}}</p>
          <p>{{data.rightNow | date:'EEEE , MMMM d yyyy'}}</p>
            <form ng-submit="addComment(data, comment)" ng-show="data.showComment">

              <br/>
              <label for="comment">Content:</label>
              <input type="text" id="comment" ng-model="comment.body" name="content">
              <button type="submit">Add Comment</button>
            </form>
          <div ng-show="data.allComments">
            <ul>
              <li ng-repeat="comment in data.comments">
                {{comment.body}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <script src="./app.js"></script>
</body>
</html>